<form method="post" action="{{ path('app_backend_showbiz_artiste_delete', {'id': showbiz_artiste.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet artiste?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ showbiz_artiste.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
