<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-content-demo">
        <div class="modal-header">
            <h6 class="modal-title">{{ showbiz_slide.titre }}</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>
                <img src="{{ absolute_url(asset('upload/showbiz/slides/'~ showbiz_slide.media)) }}" alt="" class="img-thumbnail">
            </p>
        </div><!-- modal-body -->
        <div class="modal-footer">
            {{ include('backend_showbiz_slide/_delete_form.html.twig') }}
            <a href="{{ path('app_backend_showbiz_slide_edit', {'id':  showbiz_slide.id}) }}" class="btn btn-primary">Modifier</a>
            <button type="button" data-dismiss="modal" class="btn btn-outline-light">Fermer</button>
        </div>
    </div>
</div>
