.cover-container{
    background-image: url('https://picsum.photos/1200/850');
    background-size: cover;
    background-repeat: no-repeat;
}
.overlay{
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    /* bottom, image */
    url('https://picsum.photos/1200/850');
    background-size: cover;
}
.bg-transparent{
    --bs-bg-opacity:0.2;
    background-color:rgba(0,0,0,var(--bs-bg-opacity))!important
}
.nav-item{
    font-weight: bold;
}
.nav-link span{
    color: white;
    margin-left: 10px;
}
.nav-item.btn{
    margin-left: 10px;
}
.nav-link span:hover{
    color: red;
}
.corps{
    height: 100vh;
}
.main{
    height: 100vh;
}
.slogan{
    margin:70px auto;
}