<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}DREAM MAKER{% endblock %}</title>
        <link rel="icon" href="{{ absolute_url(asset('build/images/favico.svg')) }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('dreammaker') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('dreammaker') }}
        {% endblock %}
    </head>
    <body class="overlay d-flex h-100 text-white bg-dark">>
        {% block body %}{% endblock %}
    </body>
</html>
