<form method="post" action="{{ path('app_backend_showbiz_service_delete', {'id': showbiz_service.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce service?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ showbiz_service.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
