<div class="col-lg-4 content-secondaire" data-aos="fade-left" data-aos-duration="2000" data-aos-offset="300" data-aos-easing="ease-in-sine">
	<div class="following">
		<a href="#" class="icon-social"><i class="fa-brands fa-facebook-square"></i></a>
		<a href="#" class="icon-social"><i class="fa-brands fa-twitter-square"></i></a>
		<a href="#" class="icon-social"><i class="fa-brands fa-instagram-square"></i></a>
		<a href="#" class="icon-social"><i class="fa-brands fa-youtube-square"></i></a>
	</div>
	<div class="facebook-section">
		<div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v13.0" nonce="e84JNArJ"></script>
		<div class="fb-page" data-href="https://www.facebook.com/dreammakercicom/" data-tabs="timeline" data-width="" data-height="1000" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/dreammakercicom/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/dreammakercicom/">DREAM MAKER</a></blockquote></div>
	</div>
	<div class="newsletter">
		<h5>Newsletter</h5>
		<p>
			Ne manquez aucune actulaité de Dream Maker en renseignant votre e-mail.
		</p>
		<div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="Entrez votre email" aria-label="Entrez votre email" aria-describedby="button-addon2">
			<button class="btn btn-primary" type="button" id="button-addon2"><i class="fa-solid fa-paper-plane"></i></button>
		</div>
	</div>
</div>
