{% extends 'error_layout.html.twig' %}
{% block title %}404 Page non trouvée{% endblock %}
{% block body %}
	<main class="px-3 align-middle">
		<div class="align-middle slogan">
			<h1>
				<div>404, </div>
				<div><span>page non trouvée</span></div>
			</h1>
		</div>
		<div>
			<h4>OUPS!!!!</h4>
			<h6>
				<em>La page que vous cherchez à acceder n'existe pas ou a été supprimée. </em> <br>
				<em>Prière, visiter les autres pages.</em>
			</h6>
		</div>
	</main>
{% endblock %}
